<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 2: Analyzing Chipotle Data

_Author: Joseph Nelson (DC)_

---

For Project 2, you will complete a series of exercises exploring [order data from Chipotle](https://github.com/TheUpshot/chipotle), compliments of _The New York Times'_ "The Upshot."

For these exercises, you will conduct basic exploratory data analysis (Pandas not required) to understand the essentials of Chipotle's order data: how many orders are being made, the average price per order, how many different ingredients are used, etc. These allow you to practice business analysis skills while also becoming comfortable with Python.

---

## Basic Level

### Part 1: Read in the file with `csv.reader()` and store it in an object called `file_nested_list`.

Hint: This is a TSV (tab-separated value) file, and `csv.reader()` needs to be told [how to handle it](https://docs.python.org/2/library/csv.html).

In [1]:
import csv
from collections import namedtuple   # Convenient to store the data rows

DATA_FILE = './data/chipotle.csv'

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats

import locale

%matplotlib inline

In [3]:
file_nested_list = pd.read_csv(DATA_FILE, sep='\t')

### Part 2: Separate `file_nested_list` into the `header` and the `data`.

In [4]:
#pd.set_option('display.max_colwidth', -1)
#pd.reset_option('display.max_colwidth')

In [4]:
file_nested_list.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
header = file_nested_list.columns
values = file_nested_list.values

In [18]:
#header1 = file_nested_list[0]
#data1 = file_nested_list[0:]
#print (data1)

In [22]:
print (header)
print ("")
print (values)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

[[1 1 'Chips and Fresh Tomato Salsa' nan '$2.39']
 [1 1 'Izze' '[Clementine]' '$3.39']
 [1 1 'Nantucket Nectar' '[Apple]' '$3.39']
 ...
 [1834 1 'Chicken Salad Bowl'
  '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Guacamole, Lettuce]]'
  '$11.25']
 [1834 1 'Chicken Salad Bowl'
  '[Fresh Tomato Salsa, [Fajita Vegetables, Lettuce]]' '$8.75']
 [1834 1 'Chicken Salad Bowl'
  '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]'
  '$8.75']]

---

## Intermediate Level

### Part 3: Calculate the average price of an order.

Hint: Examine the data to see if the `quantity` column is relevant to this calculation.

Hint: Think carefully about the simplest way to do this!

In [223]:
locale.setlocale(locale.LC_ALL,'')

file_nested_list['item_price']=file_nested_list.item_price.map(lambda x: locale.atof(x.strip('$')))

In [224]:
file_nested_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

In [225]:
pricesum = file_nested_list.item_price.sum()
quantsum = file_nested_list.quantity.sum()
aveprice = round(( pricesum / quantsum), 2)

print(quantsum)
print(pricesum)
print(aveprice)

4972
34500.16
6.94

### Part 4: Create a list (or set) named `unique_sodas` containing all of unique sodas and soft drinks that Chipotle sells.

Note: Just look for `'Canned Soda'` and `'Canned Soft Drink'`, and ignore other drinks like `'Izze'`.

In [226]:
drink_soda = file_nested_list[(file_nested_list.item_name == 'Canned Soda') | (file_nested_list.item_name == 'Canned Soft Drink')]

drink_soda.head(25)

     order_id  quantity          item_name choice_description  item_price
18   9         2         Canned Soda        [Sprite]           2.18
28   14        1         Canned Soda        [Dr. Pepper]       1.09
51   23        2         Canned Soda        [Mountain Dew]     2.18
53   24        1         Canned Soda        [Sprite]           1.09
107  47        1         Canned Soda        [Dr. Pepper]       1.09
117  51        1         Canned Soda        [Diet Dr. Pepper]  1.09
126  55        1         Canned Soda        [Coca Cola]        1.09
162  73        2         Canned Soda        [Diet Coke]        2.18
171  76        2         Canned Soda        [Diet Dr. Pepper]  2.18
179  81        1         Canned Soda        [Coca Cola]        1.09
180  81        1         Canned Soda        [Dr. Pepper]       1.09
195  87        1         Canned Soda        [Coca Cola]        1.09
200  89        1         Canned Soda        [Diet Coke]        1.09
228  100       1         Canned Soda        [Mountain Dew]     1.09
246  108       1         Canned Soda        [Mountain Dew]     1.09
247  108       1         Canned Soda        [Dr. Pepper]       1.09
248  108       1         Canned Soda        [Mountain Dew]     1.09
251  109       1         Canned Soda        [Diet Dr. Pepper]  1.09
261  113       1         Canned Soda        [Mountain Dew]     1.09
263  114       1         Canned Soft Drink  [Coke]             1.25
280  122       1         Canned Soda        [Coca Cola]        1.09
292  127       1         Canned Soft Drink  [Sprite]           1.25
317  138       1         Canned Soda        [Diet Coke]        1.09
320  139       1         Canned Soft Drink  [Coke]             1.25
337  147       1         Canned Soft Drink  [Coke]             1.25

In [227]:
drink_soda.choice_description.value_counts()

[Diet Coke]          110
[Coke]               102
[Sprite]             72
[Lemonade]           31
[Coca Cola]          26
[Dr. Pepper]         18
[Nestea]             18
[Mountain Dew]       15
[Diet Dr. Pepper]    13
Name: choice_description, dtype: int64

---

## Advanced Level

### Part 5: Calculate the average number of toppings per burrito.

Note: Let's ignore the `quantity` column to simplify this task.

Hint: Think carefully about the easiest way to count the number of toppings!

In [29]:
file_nested_list.choice_description = file_nested_list.choice_description.str.replace("[", "")
file_nested_list.choice_description = file_nested_list.choice_description.str.replace("]", "")
file_nested_list.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98

In [254]:
burrito = file_nested_list[(file_nested_list.item_name == 'Chicken Burrito') | (file_nested_list.item_name == 'Veggie Burrito') | (file_nested_list.item_name == 'Steak Burrito')]

burrito.head()

#burrito.index
burrito_orders = burrito.shape[0]
print (burrito_orders)

split_columns = burrito.choice_description.str.split(',', expand=True)

split_columns.columns = ["col0", "col1", "col2", "col3", "col4", "col5", "col6", "col7", "col8", "col9"]

col0 = split_columns.col0.count()
col1 = split_columns.col1.count()
col2 = split_columns.col2.count()
col3 = split_columns.col3.count()
col4 = split_columns.col4.count()
col5 = split_columns.col5.count()
col6 = split_columns.col6.count()
col7 = split_columns.col7.count()
col8 = split_columns.col8.count()
col9 = split_columns.col9.count()

toppings_total = col0+col1+col2+col3+col4+col5+col6+col7+col8+col9

print (toppings_total)

averagetoppings = round((toppings_total / burrito_orders), 2)

print (averagetoppings)

1016
5503
5.42

### Part 6: Create a dictionary. Let the keys represent chip orders and the values represent the total number of orders.

Expected output: `{'Chips and Roasted Chili-Corn Salsa': 18, ... }`

Note: Please take the `quantity` column into account!

Optional: Learn how to use `.defaultdict()` to simplify your code.

In [60]:
file_nested_list.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39

In [62]:
chips_order = {}

for row in file_nested_list.item_name:
    orders = 0
    for cell in row:
        if cell == 'Izze':
#       if cell.find("Chips") == -1:
#       if 'Chips' in cell:
            orders += file_nested_list.quantity
            print ("yes")
    chips_order[row] = orders
    
chips_order

{'Chips and Fresh Tomato Salsa': 0,
 'Izze': 0,
 'Nantucket Nectar': 0,
 'Chips and Tomatillo-Green Chili Salsa': 0,
 'Chicken Bowl': 0,
 'Side of Chips': 0,
 'Steak Burrito': 0,
 'Steak Soft Tacos': 0,
 'Chips and Guacamole': 0,
 'Chicken Crispy Tacos': 0,
 'Chicken Soft Tacos': 0,
 'Chicken Burrito': 0,
 'Canned Soda': 0,
 'Barbacoa Burrito': 0,
 'Carnitas Burrito': 0,
 'Carnitas Bowl': 0,
 'Bottled Water': 0,
 'Chips and Tomatillo Green Chili Salsa': 0,
 'Barbacoa Bowl': 0,
 'Chips': 0,
 'Chicken Salad Bowl': 0,
 'Steak Bowl': 0,
 'Barbacoa Soft Tacos': 0,
 'Veggie Burrito': 0,
 'Veggie Bowl': 0,
 'Steak Crispy Tacos': 0,
 'Chips and Tomatillo Red Chili Salsa': 0,
 'Barbacoa Crispy Tacos': 0,
 'Veggie Salad Bowl': 0,
 'Chips and Roasted Chili-Corn Salsa': 0,
 'Chips and Roasted Chili Corn Salsa': 0,
 'Carnitas Soft Tacos': 0,
 'Chicken Salad': 0,
 'Canned Soft Drink': 0,
 'Steak Salad Bowl': 0,
 '6 Pack Soft Drink': 0,
 'Chips and Tomatillo-Red Chili Salsa': 0,
 'Bowl': 0,
 'Burrito': 0,
 'Crispy Tacos': 0,
 'Carnitas Crispy Tacos': 0,
 'Steak Salad': 0,
 'Chips and Mild Fresh Tomato Salsa': 0,
 'Veggie Soft Tacos': 0,
 'Carnitas Salad Bowl': 0,
 'Barbacoa Salad Bowl': 0,
 'Salad': 0,
 'Veggie Crispy Tacos': 0,
 'Veggie Salad': 0,
 'Carnitas Salad': 0}

In [70]:
chips_order = {}

for row in file_nested_list.item_name:
    orders = 0
    if 'Chips' in row:
        orders += file_nested_list.quantity
        chips_order[row] = orders
    
chips_order

{'Chips and Fresh Tomato Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Tomatillo-Green Chili Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Side of Chips': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Guacamole': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Tomatillo Green Chili Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Tomatillo Red Chili Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Roasted Chili-Corn Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Roasted Chili Corn Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Tomatillo-Red Chili Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64,
 'Chips and Mild Fresh Tomato Salsa': 0       1
 1       1
 2       1
 3       1
 4       2
 5       1
 6       1
 7       1
 8       1
 9       1
 10      1
 11      1
 12      1
 13      1
 14      1
 15      1
 16      1
 17      1
 18      2
 19      1
 20      1
 21      1
 22      1
 23      1
 24      1
 25      1
 26      1
 27      1
 28      1
 29      1
        ..
 4592    1
 4593    1
 4594    1
 4595    1
 4596    1
 4597    1
 4598    1
 4599    1
 4600    1
 4601    1
 4602    1
 4603    1
 4604    1
 4605    1
 4606    1
 4607    1
 4608    1
 4609    1
 4610    1
 4611    1
 4612    1
 4613    1
 4614    1
 4615    1
 4616    1
 4617    1
 4618    1
 4619    1
 4620    1
 4621    1
 Name: quantity, Length: 4622, dtype: int64}

---

## Bonus: Craft a problem statement about this data that interests you, and then answer it!